.document-title
  height: 50px
  width: calc(50% - 10px)
  margin: 15px 5px
  padding: 5px
  &__text
    font-family: 'Montserrat', sans-serif
    font-size: 1.4em
    font-weight: 400
    &--bold
      font-weight: 700
